.App {
  text-align: center;
}


.home-style{
   background-image:
  url("../src/assets/img/home-bk.png");
  background-size: cover;
  min-height: 100vh;
}



.logo{
  max-width:150px;
  max-height: 150px;
}


.profile-img{
  background-image: url("../src/assets/img/profile.png");
  background-size: cover;
  min-height: 100vh;
}

.blue-img{
  text-align:center;
}



.container{
  text-align: center;
}


.blue-logo{
  width:45%;
  height:25%;
  padding: 50px;
}

/* homepage */
.home-container{
  display:flex;
  align-items: center;
}


.login-bg{
  background-image: url("../src/assets/img/profile.png");
  background-size: cover;
  min-height: 100vh;
}

.app{
  text-align: center;
}
.text-container{
  display: flex;
  flex-direction: column;
}

#invite{ 
  font-family: Bely;
  background-color:  #001130; 
  font-size: 18px;
}

#log-btn{
  background-color:  #001130;
  color:white;
  font-family: Bely;
  font-size: 18px;
  height:37px;
  width:75px;

}

.home-para{
  font-family: Bely;
  font-size:20px;
}

.home-heading{
  font-family: Bely;
}

/* Questions */
.questions-bkg{
  background-image:url("../src/assets/img/questions-bkg.png");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;

}


.form-questions{
  text-align: center;
  /* height:35%; */
  padding:50px;
  /* color:white; */
}


.question-checkboxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box{
  width:20px;
  height:15px;
}

label{
  text-align:center;
  font-family:Bely;
  font-size:25px;
}

.four-box{
  font-size:15px;
  font-family:Bely;
}
.questions-btn, .question2-btn{
text-align: center;
padding:30px;
}

 .signup-btn{
  padding:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .login-btn{
  padding:15px;
  display: flex;
  flex-direction: column;
  align-items: center

 }

#username, #password{
  border-radius: 8px;
  width:180px;
  font-family:Bely;
  font-size:15px;
}

/* .password-label, user-label{
  font-size: 40px;
  font-family: Bely;
} */

.dashboard-bkg{
 background-color: #E9A392 ;
 background-size:cover 
}

.heyladies{
  text-align: center;
}



.ladies-question{
  padding:5px;
  font-weight: bold;
  color:black;
}
.ladies-working{
  width:50%;
}

.auntie-links{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  padding:15px;
}

.identify-auntie{
  text-align:center;
  font-family:Bely;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.identify-auntee{
  display:flex;
  align-items: center;
  color:#004736;
  font-family: Bely;
  font-weight: bold;
}

.ladies{
  text-align: c;
}


/* Survey */

.survey{
  background-image: url("../src/assets/img/questions-bkg.png");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.survey-btn{
  padding:350px;
  display:flex;
  justify-content: center;
  border-radius: 8px;
  font-family: Bely;
  font-weight: bold;
}

.auntee-profile{
  background-color: #E9A392;
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}


auntee-profile{
  display: flex;
  flex-direction: column;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



